.hero-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.hero-title {
  font-size: 2rem;
  color: #00ffd5;
}

.hero-name {
  font-size: 2.8rem;
  font-weight: bold;
}

.hero-name span {
  color: #00ffd5;
}

.hero-role {
  font-size: 2rem;
  margin-top: 10px;
}

.hero-role span {
  color: #00ffd5;
}

.hero-desc {
  margin-top: 20px;
  max-width: 500px;
  line-height: 1.6;
  color: #dcdcdc;
}

.hero-image {
  width: 300px;
  height: 310px;
  border-radius: 100%;
  object-fit: cover;
  border: 5px solid #00ffd5;
}

.social-icons a {
  color: white;
  font-size: 1.5rem;
  margin-right: 15px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #00ffd5;
}
